<h2>プロフィール編集</h2>

<% if @user.errors.any? %>
 <ul>
      <li>error!</li>
      <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
 </ul>
<% end %>

<%= form_with model:@user, local:true do |f| %>
 
  <label for="inputName">Name</label><br>
  <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%><br>
 
  
  <label for="inputImage">Image</label><br>
  <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%><br>
  <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %><br>
 
  
  <label for="inputIntro">Introduction</label><br>
  <%= f.text_field :introduction, autofocus: true, id:"inputIntroduction", placeholder:"自己紹介"%><br><br>
  
  <%= f.submit "Update User" %>
<% end %>