<div class="container">
<div class="row">
<div class="col-md-3">
<h1>User info</h1>

  <div class="profile-container">
    <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>

       <p>name</p> <h3 class="profile-name"><%= @user.name %></h3>
       <p>introduction</p> <h3><%= @user.introduction %></h3>

  <p><%= link_to '',  edit_user_path(@user), method: :get, class:"btn btn-outline-secondary btn-block fas fa-user-cog" %></p>

  </div>


  <div class= "new-book-container">

    <h1>New book</h1>
  <%= form_with model: @book, url:'/books', local:true do |f| %>
    <h4>Title</h4>
    <%= f.text_field :title %>
    <h4>Opinion</h4>
    <%= f.text_area :body %>
    <%= f.submit 'Create Book' %>
  <% end %>

  </div>
  </div>
  
  <div class="col-md-8 offset-md-1">

  <div class= "books-container">
    <h1>Books</h1>

    <table class="table table-striped">
     <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
        <th></th>
      </tr>
    </thead>
    <% @books.each do |book|%>
    <tbody>
      <tr>
        <td><%= link_to user_path(book.user) do %>
        <%= attachment_image_tag book.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg"  %><% end %></td>
        <td><%= link_to book.title, book_path(book.id)%></td>
        <td><%= book.body %></td>
        <td>
          <% if book.favorited_by?(current_user) %>
          <p>
          <%= link_to book_favorites_path(book), method: :delete do %>
          <i class="fas fa-heart"></i><%= book.favorites.count %>
          <% end %>
          </p>
          <% else %>
          <p>
          <%= link_to book_favorites_path(book), method: :post do %>
          <i class="far fa-heart"></i><%= book.favorites.count %>
          <% end %>
          </p>
          <% end %></td>
        <td><%= link_to "コメント数:#{book.book_comments.count} ", book_path(book.id) %></td>
      </tr>
    </tbody>
    <% end %>
    </table>


  </div>

</div>
</div>
</div>
