  
  <div class="profile-container">
     <%= attachment_image_tag current_user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>

  <p>name</p> <h4 class="profile-name"><%= current_user.name %></h4>
  <p>introduction</p> <h3><%= current_user.introduction %></h3>

  <p><%= link_to  edit_user_path(current_user), method: :get do %>
  <i class="btn btn-outline-secondary btn-block fas fa-user-cog"></i>
  <% end %>
  </p>

  </div>

  <div class= "new-book-container">

    <h1>New book</h1>
  <%= form_with model: @book, url:'/books', local:true do |f| %>
    <h4>Title</h4>
    <%= f.text_field :title %>
    <h4>Opinion</h4>
    <%= f.text_area :body %>
    <%= f.submit 'Create Book' %>
  <% end %>

  </div>