<div class="container">
<div class="row">
<div class="col-md-3">
   <h1>User info</h1>

    <div class="profile-container">
       <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>

    <p>name</p> <h3 class="profile-name"><%= @user.name %></h3>
    <p>introduction</p> <h3><%= @user.introduction %></h3>


      <p><%= link_to '',  edit_user_path(@user), method: :get, class:"btn btn-outline-secondary btn-block fas fa-user-cog" %></p>

  </div>

  <div class= "new-book-container">

    <h1>New book</h1>
  <%= form_with model: @book_new, url:'/books', local:true do |f| %>
    <h4>Title</h4>
    <%= f.text_field :title %>
    <h4>Opinion</h4>
    <%= f.text_area :body %>
    <%= f.submit 'Create Book' %>
  <% end %>

  </div>
</div>

<div class="col-md-8 offset-md-1">
    <h1>Book detail</h1>

    <table class="table table-striped">
      <tr>
        <td><%= attachment_image_tag @user, :profile_image, :fill, 20, 20, format: 'jpeg', fallback: "no_image.jpg" %><p class="profile-name"><%=link_to @user.name, user_path(@user.id) %></p></td>
        <td><%= link_to @book.title, book_path %></td>
        <td><%= @book.body %></td>

      <% if @user.id == current_user.id %>
      <td><%= link_to "Edit", edit_book_path(@book) %></td>
      <td><%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>

      <% end %>
      </table>
</div>
</div>
</div>