<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/be402501f2.js" crossorigin="anonymous"></script>
  </head>

  <body>
     <% flash.each do |key, value| %>
       <%= content_tag(:div, value, class: "#{key}") %>
  　  <% end %>

  　<a href="/">Bookers&nbsp;&nbsp;&nbsp;</a>

    <% if user_signed_in? %>
      <li style = "display:inline"; "list-style:none">
        <%= link_to user_path(current_user.id), method: :get do%>
        <i class="fas fa-home"></i> Home&nbsp;&nbsp;
        <% end %>
      </li>
      <li style = "display:inline"; "list-style:none">
        <%= link_to '/users', method: :get do%>
        <i class="fas fa-users"></i>Users&nbsp;&nbsp;
        <% end %>
      </li>
      <li style = "display:inline"; "list-style:none">
        <%= link_to '/books', method: :get do%>
        <i class="fas fa-book-open"></i>Books&nbsp;&nbsp;
        <% end %>
      </li>
      <li style = "display:inline"; "list-style:none">
        <%= link_to destroy_user_session_path, method: :delete do%>
        <i class="fas fa-sign-out-alt"></i>logout&nbsp;&nbsp;
        <% end %>
      </li>


    <% else %>
      <li style = "display:inline"; "list-style:none">
        <%= link_to root_path, method: :get do%>
        <i class="fas fa-home"></i> Home&nbsp;&nbsp;
        <% end %>
      </li>
      <li style = "display:inline"; "list-style:none">
        <%= link_to home_about_path, method: :get do%>
        <i class="fas fa-link"></i> About&nbsp;&nbsp;
        <% end %>
      </li>
      <li style = "display:inline"; "list-style:none">
        <%= link_to new_user_registration_path, method: :get do%>
        <i class="fas fa-user-plus"></i>sign up&nbsp;&nbsp;
        <% end %>
      </li>
      <li style = "display:inline"; "list-style:none">
        <%= link_to new_user_session_path, method: :get do%>
        <i class="fas fa-sign-in-alt"></i>login&nbsp;&nbsp;
        <% end %>
      </li>
    <% end %>

    <%= yield %>


  <div class="footer">
   <div class="container">CopyRight Infratop.inc</div>
</div>
  </body>
</html>
