<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/be402501f2.js" crossorigin="anonymous"></script>
  </head>

  <body>
     <% flash.each do |key, value| %>
       <%= content_tag(:div, value, class: "#{key}") %>
  　  <% end %>
  　  
  　<a href="/">Bookers</a>  
  　  
    <% if user_signed_in? %>
      <li>
        <%= link_to user_path(current_user.id), method: :get do%>
        <i class="fas fa-home"></i> Home
        <% end %>
      </li>
      <li>
        <%= link_to '/users', method: :get do%>
        <i class="fas fa-users"></i>Users
        <% end %>
      </li>
      <li>
        <%= link_to '/books', method: :get do%>
        <i class="fas fa-book-open"></i>Books
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete do%>
        <i class="fas fa-sign-out-alt"></i>logout
        <% end %>
      </li>
      

    <% else %>
      <li>
        <%= link_to root_path, method: :get do%>
        <i class="fas fa-home"></i> Home
        <% end %>
      </li>
      <li>
        <%= link_to home_about_path, method: :get do%>
        <i class="fas fa-link"></i> About
        <% end %>
      </li>
      <li>
        <%= link_to new_user_registration_path, method: :get do%>
        <i class="fas fa-user-plus"></i>sign up
        <% end %>
      </li>
      <li>
        <%= link_to new_user_session_path, method: :get do%>
        <i class="fas fa-sign-in-alt"></i>login
        <% end %>
      </li>
    <% end %>

    <%= yield %>
    
    
  <div class="footer">
   <div class="container">CopyRight Infratop.inc</div>
</div>
  </body>
</html>
